pengwin.live {
	@upload {
		path /api/upload
		method POST
	}

	request_body @upload {
		max_size 2GB
	}

	reverse_proxy @upload http://backend:3000 {
		transport http {
			response_header_timeout 0
			read_timeout 0
			write_timeout 0
			expect_continue_timeout 0
		}
	}

	handle_path /ai/api/* {
		reverse_proxy fastapi:3000
	}

	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}
}